<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传图片</title>
    <link rel="stylesheet" href="../public/jquery-weui/1.0/weui.min.css">
    <link rel="stylesheet" href="../public/jquery-weui/1.0/jquery-weui.min.css">
    <link rel="stylesheet" href="../css/checkpoint.min.css">
    <style type="text/css">
        #group_img,#group_a{
            vertical-align: middle;
        }
        #group_a{
            margin-left: 4px;
        }
        input[name="file"]{
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            opacity: 0;
        }
        div.img{
            position: relative;
        }
    </style>
</head>
<body>
<div class="t-nav">
    <a href="javascript:window.history.back();" class="left on-menu"><i class="iconfont icon-left"></i></a>
    <div class="title">编辑故事</div>
    <div class="right commit">发送</div>
</div>
<div class="main">
    <div class="box">
        <div class="img-box">
            <div class="img">
                <form id="oss-upload-form" autocomplete="off" action="http://yue.oss-cn-hangzhou.aliyuncs.com/" method="post" enctype="multipart/form-data" target="hidden_frame">
                    <iframe name='hidden_frame' id="hidden_frame" style='display: none'></iframe>
                    <input type="hidden" name="OSSAccessKeyId" value=""/>
                    <input type="hidden" name="policy" value=""/>
                    <input type="hidden" name="Signature" value=""/>
                    <input type="hidden" name="key" value=""/>
                    <input type="hidden" name="success_action_redirect" value="http://complint.localhost/wap/view/oss_upload_success.html"/>
                    <input type="file" name="file" class="form-control" id="fileInput" accept="image/*;capture=camera" placeholder="选择文件"/>
                </form>
                <input type="hidden" name="id"/>
                <input type="hidden" name="rid" value=""/>
                <img class="temp_picture" src="" alt="">
                <div class="upload-img"><i class="iconfont icon-plus"></i></div>
                <div class="photo-mask">
                    <div class="photo-mask-left float-left"></div>
                    <div class="photo-mask-arrow-left float-left"></div>
                    <div class="photo-mask-arrow-right float-left"></div>
                    <div class="photo-mask-right float-left"></div>
                </div>
            </div>
            <textarea class="cache" name="comment" id="" cols="30" rows="10" placeholder="把你的故事记录在这里..."></textarea>
        </div>
    </div>

    <div class="weui-cells__title map map-btn">
        <i class="iconfont icon-map"></i>
        <span id="geo-title">故事发生在...</span>
    </div>

    <div class="weui-cells weui-cells_form">
        <div id="group-div" class="weui-cell hide">
            <div class="weui-cell__hd"><label class="weui-label">所属故事</label></div>
            <div class="weui-cell__bd">
                <input name="group_id" class="weui-input auto-fill" type="number" pattern="[0-9]*" placeholder="上级ID" value="0">
                <img id="group_img" src="" height="14px"><a id="group_a" href="#" style="font-size: 14px">...</a>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">拍摄时间</label></div>
            <div class="weui-cell__bd">
                <input name="create_time" class="weui-input cache" type="text" placeholder="请输入拍摄时间">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">海拔</label></div>
            <div class="weui-cell__bd">
                <input name="altitude" class="weui-input auto-fill cache" type="number" placeholder="输入海拔" value="0">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">路标</label></div>
            <div class="weui-cell__bd">
                <input name="mark" class="weui-input cache" type="text" placeholder="输入路标，如码农寺" value="">
            </div>
        </div>
        <!--hide s-->
        <div class="weui-cell hide">
            <div class="weui-cell__hd"><label class="weui-label">经纬度</label></div>
            <div class="weui-cell__bd">
                <input name="longitude" class="weui-input auto-fill cache" type="number" placeholder="输入经度">
                <input name="latitude" class="weui-input auto-fill cache" type="number" placeholder="输入纬度">
            </div>
        </div>
        <!--hide e-->
    </div>
</div>
</body>
<script type="text/javascript" src="../public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../public/jquery-weui/1.0/jquery-weui.min.js"></script>
<script type="text/javascript" src="../public/js/md5.js"></script>
<script type="text/javascript" src="../public/js/underscore.js"></script>
<script type="text/javascript" src="../public/js/exif.js"></script>
<script type="text/javascript" src="../public/js/coordtransform.js"></script>
<script type="text/javascript" src="../public/js/weui.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o9CPvMuqXebMhwZvsbYmHW2P"></script>

<script type="text/javascript" src="../js/android.js"></script>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/common/date.js"></script>
<script type="text/javascript" src="../js/common/ue.js"></script>

<script type="text/javascript" src="../js/wechat/emoji-fix.js"></script>

<script type="text/javascript">
    var latitude = U.ajax.getUrlParam('latitude') || false;
    var longitude = U.ajax.getUrlParam('longitude') || false;

    function adjust_file_input_pos() {
//        var $file = $('input[name="file"]');
//        var $preview = $('img.temp_picture').attr('src') ? $('img.temp_picture') : $('div.upload-img');
//
//        $file.css('position', 'fixed');
//        $file.css('width', $preview.css('width'));
//        $file.css('height', $preview.css('height'));
//        $file.css('left', $preview.offset().left);
//        $file.css('top', $preview.offset().top);
//        $file.css('z-index', 1);
//        $file.css('opacity', 0);
    }

    function setup_geo(lon, lat, alt) {
        latitude = lat;
        longitude = lon;

        $('input[name="latitude"]').val('1').val(lat);
        $('input[name="longitude"]').val('1').val(lon);
        var bd09 = coordtransform.wgs84tobd09(lon, lat);
        (typeof(BMap) != 'undefined') && (new BMap.Geocoder()).getLocation(new BMap.Point(bd09[0], bd09[1]), function (rs) {
            var addComp = rs.addressComponents;
            var strGeo = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
            $('#geo-title').text(strGeo);
        });
        if (alt) {
            $('input[name="altitude"]').val(Number(alt).toFixed(2));
        } else {
            U.api.apiCall('checkpoint.altitude', {
                latitude: lat,
                longitude: lon
            }, function (err, json) {
                if (json && json['altitude']) {
                    $('input[name="altitude"]').val(Number(json['altitude']).toFixed(2));
                }
            });
        }

        // U.ajax.getJson('http://ditu.google.cn/maps/api/elevation/json?locations=30.7561,90.8205')
    }

    function upload_file() {
        $.showLoading("正在上传...");
        U.api.oss.upload(1, function (err, json) {
            if (err) {
                $.alert(err.message);
            } else {
                var postData = json['data']['post'];
                var $form = $('#oss-upload-form');
                $form.attr('action', 'http://' + postData['host'] + '/');
                $('input[name="success_action_redirect"]').val(ROOT_URL + '/view/oss_upload_success.html');
                var $file = $form.find('input[type="file"]');
                if (!$file.val()) {
                    return;
                }
                $form.find('input[name="OSSAccessKeyId"]').val(postData['accessid']);
                $form.find('input[name="policy"]').val(postData['policy']);
                $form.find('input[name="Signature"]').val(postData['signature']);
                $form.find('input[name="key"]').val(postData['object']);

                U.api.oss.uploadSuccessCallback = (function (info) {
                    return function () {
                        // $form.remove();
                        $(".upload-img").hide();
                        $.hideLoading();
                        // $.toast("上传成功", "text");
                        $('img.temp_picture').attr('src', U.api.oss.rid2url(info['rid'], 'style/wap_upload_preview'));
                        $('input[name="rid"]').val(info['rid']);
                        setTimeout(adjust_file_input_pos, 2000);
                    }
                })(json['data']);
                $form.submit();

            }
        });
    }

    function parse_file(e) {
        if (!e.target || !e.target.files.length || !e.target.files[0]) {
            return
        }

        var _file = e.target.files[0];
        var passFileType = /^(?:image\/bmp|image\/gif|image\/jpeg|image\/png)$/i;

        if (!passFileType.test(_file.type)) {
            return
        }

        (new FileReader()).readAsDataURL(_file);

        EXIF.getData(_file, function () {
            // var _dataTxt = EXIF.pretty(this);
            var json = EXIF.getAllTags(this);
            var latitude = json['GPSLatitude'];
            var longitude = json['GPSLongitude'];
            if (latitude && longitude) {
                latitude = latitude[0] + latitude[1] / 60 + latitude[2] / 3600;
                longitude = longitude[0] + longitude[1] / 60 + longitude[2] / 3600;
                setup_geo(longitude.toFixed(8), latitude.toFixed(8));
            }
            var time = json['DateTimeOriginal'];
            var dateFormat = new DateFormat('yyyy:MM:dd HH:mm:ss');
            if (time && (time = dateFormat.parse(time))) {
                $('input[name="create_time"]').val(time.toString('yyyy-MM-dd HH:mm'));
                $('#time-title').text(time.toString());
            }
        });
    }

    jQuery(function ($) {
        // setup by id
        (function (id, next) {
            id = Math.round(Number(id));
            if(id && $('#oss-upload-form').hide()){
                $('.cache[name]').removeClass('cache');
                U.api.checkpoint.info(id, function(err, cp){
                    if(err){
                        $.alert(err['message'], '确认', function(){
                            window.location.href = location.href;
                            return false;
                        });
                    }else{
                        setup_geo(cp['longitude'], cp['latitude'], cp['altitude']);
                        $('input[name="id"]').val(cp['id']);
                        $('input[name="group_id"]').val(cp['group_id']);
                        $('input[name="mark"]').val('').val(cp['mark']);
                        $textarea.val(cp['comment']);
                        $('input[name="create_time"]').val(new Date(cp['create_time'] * 1000).toString()).trigger('change');
                        $('img.temp_picture').attr('src', U.api.oss.rid2url(cp['photo'], 'style/wap_upload_preview'));
                        $('div.upload-img').hide();
                    }
                    next(err, cp);
                });
            }else{
                next();
            }
        })(U.ajax.getUrlParam('id'), function(err, cp){
            // setup by group id
            (function(group_id){
                if(group_id){
                    U.api.checkpoint.info(group_id, function (err, cp){
                        $('#group-div').removeClass('hide');
                        $('input[name="group_id"]').attr('type', 'hidden');
                        $('#group_img').attr('src', U.api.oss.rid2url(cp['photo'], 'style/resize_128x128'));
                        $('#group_a').text(cp['comment']);
        //                $('#group_a').text(cp['comment']).attr('href', 'trips.html?group_id=' + group_id);

                    });
                }else{
                    $('#group-div').removeClass('hide');
                    $('input[name="group_id"]').attr('type', 'hidden');
                    $('#group_img').hide();
                    $('#group_a').text('你正在创建一个新的故事');
                }
            })(U.ajax.getUrlParam('group_id') || (cp && cp['group_id']));
        });

        adjust_file_input_pos();

//        var $group_id = $('input[name="group_id"]');
//        $group_id.val() && $group_id.attr('readonly', 'readonly');

        setTimeout(function () {
            var longitude = Number($('input[name="longitude"]').val());
            var latitude = Number($('input[name="latitude"]').val());
            var altitude = Number($('input[name="altitude"]').val());
            if (longitude > 0.001 && latitude > 0.001) {
                setup_geo(longitude, latitude, altitude);
            } else {
                var gps_info = android.gps();
                gps_info = gps_info.split(',');
                if (Number(gps_info[0]) > 0.01) {
                    setup_geo(Number(gps_info[0]), Number(gps_info[1]));
                }
            }
        }, 2000);

        var $textarea = $('textarea[name="comment"]');

        function checkTextareVal() {
            ($textarea.val()) ? $textarea.addClass("on") : $textarea.removeClass("on");
        }

        checkTextareVal();
        $textarea.keydown(function () {
            $('span.font-number').text($(this).val().length);
        })[0].wxImeEmojiFix();

        $textarea.focus(function () {
            $(this).addClass("on");
        });
        $textarea.blur(function () {
            checkTextareVal();
        });

        $('.map-btn').attr('href', 'map.html' + location.search).click(function () {
            var lat = Number($('input[name="latitude"]').val());
            var lon = Number($('input[name="longitude"]').val());
            $('#map-frame').remove();
            var $frame = $('<iframe id="map-frame" src="map.html"></iframe>');
//            location.href = 'map.html?latitude=' + latitude + '&longitude=' + longitude;
            $frame.attr('src', 'map.html?latitude=' + lat + '&longitude=' + lon);
            $('body').append($frame);
            return false;
        });

        $('input[name="create_time"]').datetimePicker({
            'min': '1986-09-08',
            'onConfirm': function (result) {
                $.alert(result);
            },
            'onChange': function () {

            }
        }).change(function () {
            $('#time-title').text($('input[name="create_time"]').val());
        }).val('1').val(new Date().toString('yyyy-MM-dd HH:mm')).trigger('change');

        $('input[name="file"]').change(upload_file).change(parse_file);
        // 上传图片
//        $(".upload-img").click(function () {
//            $('input[name="file"]').trigger("click");
//        });

        $('.commit').click(function () {
            var dateFormat = new DateFormat('yyyy-MM-dd HH:mm');
            var create_time = Math.round(Number(dateFormat.parse($('input[name="create_time"]').val()).getTime() / 1000));

            var data = {
                'id': Math.round(Number($('input[name="id"]').val())),
                'group_id': Number($('input[name="group_id"]').val()),
                'resource': $('input[name="rid"]').val(),
                'altitude': Number($('input[name="altitude"]').val()),
                'longitude': Number($('input[name="longitude"]').val()),
                'latitude': Number($('input[name="latitude"]').val()),
                'create_time': create_time,
                'comment': $textarea.val(),
                'mark': $('input[name="mark"]').val()
            };
            U.api.checkpoint.commit(data, function (err, json) {
                if (err) {
                    $.toast(err.message, 'text');
                } else {
                    $.toast('保存成功', 'text');
                    if (data['group_id'] < 0) {
                        location.href = 'trips.html?group_id=' + json['id'];
                    } else if (data['group_id'] > 0) {
                        window.history.back();
                    } else {
                        window.history.back();
                    }
                }
            })
        });

    });
</script>
</html>