<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>壹束光</title>
    <!--<link rel="stylesheet" href="../public/css/font_h5xvumt53vwsif6r.css">-->
    <link rel="stylesheet" href="../public/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="../public/css/weui.css">
    <link rel="stylesheet" href="../css/index.min.css">
</head>
<body>

<div class="t-nav">
    <div class="left on-menu"><i class="iconfont icon-menu"></i></div>
    <div class="title">壹束光</div>
    <a id="upload-a" href="checkpoint.html" class="right" style=""><i class="iconfont icon-camera"></i></a>
</div>

<div class="swiper-container barn">
    <div class="swiper-wrapper">
        <!--<div class="swiper-slide">-->
        <!--<img src="../images/img.jpg?oss_image_style=1024w_480h_4e_250-248-236bgc" alt="">-->
        <!--</div>-->
    </div>
    <div class="swiper-pagination"></div>
</div>

<div id="user-recommend-div" class="recommend-user-wrap hide">
    <div class="title-wrap">
        <i class="iconfont icon-star"></i>
        <p class="title">{{title}}</p>
    </div>
    <div class="user-items">
        <div :id="'traveller-' + traveller['id']" class="user-list before after" v-for="(traveller, index) in travellers">
            <div class="user-info">
                <div class="photo">
                    <img :src="traveller['avatar']" alt="">
                </div>
                <div class="info">
                    <span class="name">{{traveller['nick']}}</span>
                    <span class="icon">
                        <i class="iconfont icon-users"></i>
                        {{traveller['fansCount'] || 0}}
                    </span>
                    <span class="icon">
                        <i class="iconfont icon-photo"></i>
                        {{traveller['photosCount'] || 0}}
                    </span>
                </div>
                <div class="follow" v-on:click="followUser(traveller)">
                    <i class="iconfont icon-af-follow"></i>
                </div>
            </div>
            <ul class="before">
                <li v-for="(photo, index) in traveller['photos']">
                    <img :src="photo" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="title-wrap">
    <i class="iconfont" style="font-size: 20px;margin-right: 2px;">&#xe638;</i>
    <p class="title">有些故事正在发生</p>
</div>
<div class="list">
    <a :href="'trips.html?group_id='+list.id" class="info" v-for="(list,index) in lists">
        <p v-cloak class="title">{{ list.title }}</p>

        <div class="time-didian">
            <p v-cloak>{{ list.dateTime}} {{ list.day }}天 {{ list.browse }} 次浏览</p>
            <i v-cloak>{{ list.place }}</i>
        </div>
        <div class="user" v-on:click="showMember(list, $event)">
            <img v-cloak :src="list.portrait" :alt="list.by">

            <p v-cloak>by {{ list.by }}</p>
        </div>
        <img v-cloak :src="list.img" :alt="list.title">
    </a>
</div>

<script type="text/javascript" src="../public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../public/js/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="../public/js/underscore.js"></script>
<script type="text/javascript" src="../public/js/vue.min.js"></script>
<script type="text/javascript" src="../public/js/md5.js"></script>
<script type="text/javascript" src="../public/js/coordtransform.js"></script>

<script type="text/javascript" src="../js/android.js"></script>
<script type="text/javascript" src="../js/common/date.js"></script>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/setting.js"></script>
<script type="text/javascript" src="../js/index.js"></script>

<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o9CPvMuqXebMhwZvsbYmHW2P"></script>-->
</body>
</html>
