<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" href="../public/css/font_h5xvumt53vwsif6r.css">
    <link rel="stylesheet" href="../public/css/weui.css">
    <link rel="stylesheet" href="../css/login.min.css">
    <style type="text/css">
        .wx-login-btn{
            margin-top: 16px!important;
        }
    </style>
</head>
<body>
<div class="t-nav">
    <a href="javascript:window.history.back();" class="left on-menu"><i class="iconfont icon-left"></i></a>
    <div class="title"></div>
    <div class="right">找回密码</div>
</div>

<div class="main main-login">
    <div class="login-box">
        <input name="login_name" class="t-input" type="number" pattern="[0-9]*" placeholder="手机号">
        <input name="login_password" class="t-input" type="password" pattern="" placeholder="密码">
        <a href="javascript:;" class="login-btn t-btn">登 录</a>
        <a href="javascript:;" class="wx-login-btn t-btn">微信登陆</a>
    </div>
    <div class="reg-box">
        <input name="reg_mobile" class="t-input" type="number" pattern="[0-9]*" placeholder="手机号">
        <input name="reg_nick" class="t-input" type="text" placeholder="应该如何称呼您呢？">
        <input name="reg_password" class="t-input" type="password" placeholder="密码">
        <input name="reg_password_verify" class="t-input" type="password" placeholder="确认密码">
        <input name="reg_invite_mobile" class="t-input" type="number" pattern="[0-9]*" placeholder="邀请人手机号">
        <input name="reg_invite_code" class="t-input" type="number" pattern="[0-9]*" placeholder="邀请码">
        <a href="javascript:;" class="reg-btn t-btn">注 册</a>
    </div>
</div>

<div class="tool-btns">
    注册账号
</div>

</body>

<script type="text/javascript" src="../public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../public/js/vue.min.js"></script>
<script type="text/javascript" src="../public/js/md5.js"></script>

<script type="text/javascript" src="../js/android.js"></script>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript">
    var LoginReg = true;
    jQuery(function ($) {
        var wechat_id = U.ajax.getUrlParam('open_id') || U.ajax.getUrlParam('wechat_id') || false;
        var success_cbf = U.ajax.getUrlParam('success_cbf') || 'index.html';

        var old_login_name = android.get('user.login_name');
        var old_login_pass = android.get('user.login_password');

        var app_id = U.ajax.getUrlParam('app_id') || false;
        var app_token = U.ajax.getUrlParam('app_token') || false;
        if(app_id && app_token){
            U.api.user.loginWithToken(app_id, app_token, function(err, json){
                if(!err && json){
                    location.href = ROOT_URL + '/view';
                }
            })
        }

//        U.api.user.info(function(err, user){
//            var redirect_url = decodeURIComponent(success_cbf);
//            if(!err && user && redirect_url.indexOf('login.html') < 0){
//                setTimeout(function(){
//                    android.redirect(decodeURIComponent(success_cbf), '登陆跳转中...');
//                }, 1)
//            }
//        });

        if(wechat_id){
            U.api.user.loginWithOpenId({
                'open_id': wechat_id,
                'timestamp': U.ajax.getUrlParam('timestamp'),
                'sign': U.ajax.getUrlParam('sign')
            }, function(err, json){
                if(json){
                    android.put('user.current', json);
                    android.redirect(decodeURIComponent(success_cbf), '登陆成功跳转');
                }
            })
        }

        function loginReg() {
            $(".main").toggleClass("main-reg");
            $(".tool-btns").text((LoginReg = !LoginReg) ? "注册账号" : "已有账号");
            $(".t-nav .right").text((LoginReg) ? "找回密码" : "");
        }

        $('input[name="login_name"]').val('').val(old_login_name);

        if (old_login_pass) {
            $('input[name="login_password"]').val(old_login_pass);
        }

        $('a.wx-login-btn').click(function(){
            alert('http://wxysg.inotseeyou.com/wechat/openid?partner_id=100000&uri=' + success_cbf);
            android.redirect('http://wxysg.inotseeyou.com/wechat/openid?partner_id=100000&uri=' + success_cbf);
        });

        $('a.login-btn').click(function () {
            var phone = $('input[name="login_name"]').val();
            var password = $('input[name="login_password"]').val();
            if (phone && password) {
                android.put('user.login_name', phone);
                android.put('user.login_password', '');
                U.api.user.login(phone, password, wechat_id, function (err, json) {
                    if (err) {
                        android.alert(err['message']);
                    } else {
                        android.put('user.login_name', phone);
                        android.put('user.login_password', password);
                        android.put('user.current', json);
                        location.href = decodeURIComponent(success_cbf);
                        // android.alert('用户[' + json['nick'] + ']登录成功');
                    }
                });
            } else {
                android.alert('帐号/密码无效');
            }
        });

        $("a.reg-btn").click(function () {
            var phone = $('input[name="reg_mobile"]').val();
            var nick = $('input[name="reg_nick"]').val();
            var password = $('input[name="reg_password"]').val();
            var passwordVerify = $('input[name="reg_password_verify"]').val();
            var inviteMobile = $('input[name="reg_invite_mobile"]').val();
            var inviteCode = $('input[name="reg_invite_code"]').val();

            //todo check the data

            if (nick.length > 1 && phone.length == 11 && (password == passwordVerify) && inviteMobile && inviteCode) {
                android.put('user.login_name', phone);
                android.put('user.login_password', '');
                U.api.user.register(phone, nick, password, inviteCode, inviteMobile, function (err, json) {
                    if (err) {
                        console.log(err);
                        android.alert(err.message);
                    } else {
                        console.log(json);
                        android.put('user.login_name', phone);
                        android.put('user.login_password', password);
                        loginReg();
                    }
                });
            } else {
                android.alert('帐号/密码无效');
            }
        });

        $(".tool-btns").click(function () {
            loginReg();
        });
    });
</script>
</html>
