<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" href="../public/css/font_h5xvumt53vwsif6r.css">
    <link rel="stylesheet" href="../public/css/weui.css">
</head>
<body>
<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on">
            登录
        </div>
        <!--<div class="weui-navbar__item">-->
        <!--注册-->
        <!--</div>-->
    </div>
    <div class="weui-tab__panel">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">帐号</label></div>
                <div class="weui-cell__bd">
                    <input name="login_name" class="weui-input" type="number" pattern="[0-9]*" placeholder="输入登录手机号">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                <div class="weui-cell__bd">
                    <input name="login_password" class="weui-input" type="password" pattern="[0-9]*" placeholder="输入秘密">
                </div>
            </div>
        </div>
        <div style="position: fixed;bottom: 20%;width: 96%;left: 2%">
            <a href="javascript:;" class="weui-btn weui-btn_primary login-btn">登录</a>
        </div>
    </div>
</div>


</body>

<script src="../public/js/jquery-2.1.4.js"></script>
<script src="../public/js/vue.min.js"></script>
<script src="../public/js/md5.js"></script>

<script src="../js/android.js"></script>
<script src="../js/api.js"></script>


<script type="text/javascript">
    jQuery(function($){
        var success_cbf = U.ajax.getUrlParam('success_cbf') || '/wap/view';

        $('a.login-btn').click(function(){
            var phone = $('input[name="login_name"]').val();
            var password = $('input[name="login_password"]').val();
            if(phone && password){
                android.put('user.login_name', phone);
                android.put('user.login_password', '');
                U.api.user.login(phone, password, function(err, json){

                    if(err){
                        android.alert(err['message']);
                    }else{
                        android.put('user.login_password', password);
                        android.put('user.login_name', phone);
                        android.put('user.current', json);
                        location.href = success_cbf;
                        // android.alert('用户[' + json['nick'] + ']登录成功');
                    }
                });
            }else{
                android.alert('帐号/密码无效');
            }
        });
    });
</script>
</html>
