<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hello, World</title>
    <link rel="stylesheet" href="../public/css/weui.css">
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0px;
            padding: 0px
        }

        #container {
            height: 100%
        }

        div.weui-btn-area {
            position: fixed;
            margin: 0 0 8px 0;
            left: 5%;
            bottom: 0;
            width: 90%;
            z-index: 1;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o9CPvMuqXebMhwZvsbYmHW2P">
    </script>
    <script src="../public/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../js/android.js"></script>
    <script type="text/javascript" src="../js/api.js"></script>
</head>

<body>
<div class="weui-cell weui-cell_vcode">

    <div class="weui-cell__bd">
        <input name="keyword" class="weui-input auto-fill" type="text" placeholder="输入关键字">
    </div>
    <div class="weui-cell__ft">
        <a id="search-btn" href="javascript:;" class="weui-vcode-btn map-btn">搜索</a>
    </div>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary commit" href="javascript:" id="select-gps">保存</a>
</div>
<div id="container"></div>

<script type="text/javascript">
    function getUrlParam(name, default_val){
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i'),
                r = window.location.search.substr(1).match(reg);
        if(r !== null){
            return decodeURIComponent(r[2]);
        }else{
            return default_val || '';
        }
    }
    var latitude = getUrlParam('latitude') || false;
    var longitude = getUrlParam('longitude') || false;
    var group_id = getUrlParam('group_id') || false;
    var map = new BMap.Map("container");          // 创建地图实例
    var point = new BMap.Point(110.489, 24.778);  // 创建点坐标
    map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别

    function search(keyword){
        var local = new BMap.LocalSearch(map, {
            renderOptions:{map: map}
        });
        local.search(keyword);
    }

    function select(e){
        longitude = e.point.lng;
        latitude = e.point.lat;
        var marker = new BMap.Marker(new BMap.Point(longitude, latitude));
        map.clearOverlays();
        map.addOverlay(marker);
    }
    map.addEventListener('touchend', select);
    map.addEventListener('click', select);

    map.enableScrollWheelZoom();
    var elem = document.getElementById('select-gps');
    elem.addEventListener('click', function(){
        var callback = getUrlParam('callback') || U.ajax.url('/view/upload.html');
        if(callback && longitude && latitude){
            callback = callback + '?latitude=' + latitude + '&longitude=' + longitude;
            if(group_id){
                callback += '&group_id=' + group_id;
            }
            location.href = callback;

        }else{
            android.alert('没有选择任何路点');
        }
    });

    jQuery(function($){
        $('#search-btn').click(function(){
            var keyword = $('input[name="keyword"]').val();
            if(keyword){
                search(keyword);
            }
        });
    });
</script>
</body>
</html>