<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>选择位置</title>
    <link rel="stylesheet" href="../public/css/weui.css">
    <link rel="stylesheet" href="../public/css/font_h5xvumt53vwsif6r.css">
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            width: 100%;
            margin: 0px;
            padding: 0px
        }

        #container {
            height: 100%;
            width: 100%;
        }

        div.weui-btn-area {
            position: fixed;
            margin: 0 0 8px 0;
            left: 5%;
            bottom: 72px;
            width: 90%;
            z-index: 1;
        }

        #search-area {
            background-color: white;

        }

        #camera-pos-div{
            position: relative;
        }

        input[name="file"]{
            position: absolute;
            left: 0;
            top: 0;
            width:100%;
            height:100%;
            opacity: 0;
        }

        #search-area div.weui-cell__ft{
            z-index: 999;
        }

    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=o9CPvMuqXebMhwZvsbYmHW2P">
    </script>
    <script type="text/javascript" src="../public/js/coordtransform.js"></script>
    <script src="../public/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../js/android.js"></script>
    <script type="text/javascript" src="../js/api.js"></script>
    <script type="text/javascript" src="../public/js/exif.js"></script>
</head>

<body>
<div id="search-area" class="weui-cell weui-cell_vcode">
    <div class="weui-cell__bd">
        <input name="keyword" class="weui-input auto-fill" type="text" placeholder="输入关键字">
    </div>
    <div id="camera-pos-div">
        <i class="iconfont icon-camera">
        </i>
        <input type="file" name="file" class="form-control" id="fileInput" accept="image/*;capture=camera"
               placeholder="选择文件"/>
    </div>
    <div class="weui-cell__ft">
        <a id="search-btn" href="javascript:;" class="weui-vcode-btn map-btn">搜索</a>
    </div>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary commit" href="javascript:" id="select-gps">保存</a>
</div>
<div id="container"></div>

<script type="text/javascript">
    jQuery(function($){
        var $file = $('input[name="file"]');

        function parse_file(e){
            if(!e.target || !e.target.files.length || !e.target.files[0]){
                return
            }

            var _file = e.target.files[0];
            var passFileType = /^(?:image\/bmp|image\/gif|image\/jpeg|image\/png)$/i;

            if(!passFileType.test(_file.type)){
                return
            }

            (new FileReader()).readAsDataURL(_file);

            EXIF.getData(_file, function(){
                // var _dataTxt = EXIF.pretty(this);
                var json = EXIF.getAllTags(this);
                var latitude = json['GPSLatitude'];
                var longitude = json['GPSLongitude'];
                if(latitude && longitude){
                    latitude = latitude[0] + latitude[1] / 60 + latitude[2] / 3600;
                    longitude = longitude[0] + longitude[1] / 60 + longitude[2] / 3600;
                    mark(longitude.toFixed(8), latitude.toFixed(8));
                    var bd09 = coordtransform.wgs84tobd09(longitude.toFixed(8), latitude.toFixed(8));
                        // 初始化地图，设置中心点坐标和地图级别
                    map.centerAndZoom(new BMap.Point(bd09[0], bd09[1]), 15);
                }else{
                    android.alert('图片文件中不存在地理位置信息');
                }
            });
        }

        $file.change(parse_file);

    });
</script>
<script type="text/javascript">
    var map = new BMap.Map("container");          // 创建地图实例

    function getUrlParam(name, default_val){
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i'),
                r = window.location.search.substr(1).match(reg);
        if(r !== null){
            return decodeURIComponent(r[2]);
        }else{
            return default_val || '';
        }
    }

    function search(keyword){
        var local = new BMap.LocalSearch(map, {
            renderOptions: {map: map}
        });
        local.search(keyword);
    }

    /**
     * wgs
     * @param lat
     * @param lon
     */
    function mark(lon, lat){
        var bd09 = coordtransform.wgs84tobd09(lon, lat);
        var marker = new BMap.Marker(new BMap.Point(bd09[0], bd09[1]));
        map.clearOverlays();
        map.addOverlay(marker);
        android.put('checkpoint.geo.latitude', latitude);
        android.put('checkpoint.geo.longitude', longitude);
    }

    function select(e){
        var wgs = coordtransform.bd09towgs84(e.point.lng, e.point.lat);
        longitude = wgs[0];
        latitude = wgs[1];
        mark(longitude, latitude);
    }

    var latitude = getUrlParam('latitude') || android.get('checkpoint.geo.latitude') || 24.778;
    var longitude = getUrlParam('longitude') || android.get('checkpoint.geo.longitude') || 110.489;

    var group_id = getUrlParam('group_id') || false;
    map.enableScrollWheelZoom();

    mark(longitude, latitude);
    var bd09 = coordtransform.wgs84tobd09(longitude, latitude);
    // 初始化地图，设置中心点坐标和地图级别
    map.centerAndZoom(new BMap.Point(bd09[0], bd09[1]), 15);
    setTimeout(function(){
        map.setCenter(new BMap.Point(bd09[0], bd09[1]));
    }, 1000);
    // 设置选择位置事件
    map.addEventListener('touchend', select);
    map.addEventListener('click', select);

    // 保存位置
    var elem = document.getElementById('select-gps');
    elem.addEventListener('click', function(){
        var callback = getUrlParam('callback') || U.ajax.url('/view/upload.html');
        if(callback && longitude && latitude){
            callback = callback + '?latitude=' + latitude + '&longitude=' + longitude;
            if(group_id){
                callback += '&group_id=' + group_id;
            }

            if(parent.location.href == location.href){
                location.href = callback;
            }else{
                parent['setup_geo'](longitude, latitude);
                $(parent.document.getElementById('map-frame')).hide();
            }
        }else{
            android.alert('没有选择任何路点');
        }
    });

    jQuery(function($){
        $('#search-btn').click(function(){
            var keyword = $('input[name="keyword"]').val();
            if(keyword){
                search(keyword);
            }
        });
    });
</script>
</body>
</html>