<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_h5xvumt53vwsif6r.css">
    <link rel="stylesheet" href="../public/css/flex.css">
    <link rel="stylesheet" href="../css/member.min.css">
</head>
<body>
<div class="t-nav">
    <a href="javascript:window.history.back();" class="left on-menu"><i class="iconfont icon-left"></i></a>
    <div class="title"></div>
    <div class="right"><i class="iconfont icon-more"></i></div>
</div>
<div class="member">
    <div class="box">
        <div flex="main:center cross:center" class="info">
            <div class="fans">
                <p class="number">0</p>
                <p class="desc">粉丝</p>
            </div>
            <div class="user">
                <img class="avatar" src="../images/1.jpg" alt="">
            </div>
            <div class="attention">
                <p class="number">0</p>
                <p class="desc">关注</p>
            </div>
            <div class="level">Lv.1</div>
        </div>
        <p class="name">Triplint</p>
        <div class="msg">
            消息
        </div>
    </div>
    <!--<img class="member-bg" src="../../public/images/member.jpg" alt="">-->
</div>
<div class="items">
    <p class="null">这里空空如也</p>
</div>

<script src="../public/js/jquery-2.1.4.js"></script>
<script src="../public/js/md5.js"></script>
<script src="../js/android.js"></script>
<script src="../js/api.js"></script>

<script src="../js/member.js"></script>



<script type="text/javascript">
    jQuery(function($){
        U.api.user.info(U.ajax.getUrlParam('uid'), function(err, user){
            if(err){
                android.alert(err.message);
            }else{
                $('img.avatar').attr('src', U.api.oss.rid2url(user['avatar'], 'image/resize,w_128,h_128'));
                $('p.name').text(user['nick']);
            }
        })
    });
</script>
</body>
</html>
