<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>明信片</title>
    <link rel="stylesheet" href="../public/jquery-weui/1.0/weui.min.css">
    <link rel="stylesheet" href="../css/postcard.min.css">

    <style type="text/css">
        .btn-wrapper {
            padding: 15px 0;
            width: 60%;
            margin: 0 auto;
        }

        .weui-btn_plain-primary {

            border-color: #49bdca;
            color: #49bdca;
        }

    </style>
</head>
<body>
<div class="main">
    <div class="t-nav">
        <a href="javascript:;" v-on:click="funcBack" class="left"><i class="iconfont icon-left"></i></a>

        <div class="title">明信片</div>
        <div class="right">+</div>
    </div>

    <div id="container" class="edit">

    </div>
</div>
<script type="text/html" id="tpl_home">
    <div class="page">
        <div class="weui-cells weui-cells_form trip-cells_form">
            <!--<input type="text" name="traveller_id" value="postcard.sender_id"/>-->
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">发送人</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input cache" name="traveller_id" type="text" placeholder="123"
                           v-model="postcard.traveller_id">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">邮编</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input cache" name="postcode" type="number" pattern="[0-9]*" placeholder="请输入邮编号"
                           v-model="postcard.postcode">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">收件人</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input cache" name="consignee" type="text" placeholder="请输入收件人"
                           v-model="postcard.consignee">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">地址</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input cache" name="address" type="text" placeholder="请输入详细地址(省/市/区)"
                           v-model="postcard.address">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">留言</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input cache" name="comment" type="text" placeholder="请输入留言"
                           v-model="postcard.comment">
                </div>
            </div>
        </div>
        <div class="btn-wrapper">
            <a href="javascript:pageManager.go('preview')" class="weui-btn weui-btn_plain-primary">申请</a>
        </div>
    </div>
</script>
<script type="text/html" id="tpl_preview">
    <div class="page preview">
        <div class="page__hd">
            <!--<h1 class="page__title">预览</h1>-->
        </div>
        <div class="page__bd" >
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <label class="weui-form-preview__label"></label>
                    <em class="weui-form-preview__value">确认信息</em>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">寄件人</label>
                        <span class="weui-form-preview__value">弹弓人</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">邮编</label>
                        <span class="weui-form-preview__value" v-cloak>{{ postcard.postcode }}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">收件人</label>
                        <span class="weui-form-preview__value" v-cloak>{{ postcard.consignee }}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">地址</label>
                        <span class="weui-form-preview__value" v-cloak>{{ postcard.address }}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">留言</label>
                        <span class="weui-form-preview__value" v-cloak>{{ postcard.comment }}</span>
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default"
                       href="javascript:;" v-on:click="cancel">返回</a>
                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:;" v-on:click="submit">提交</a>
                </div>
            </div>
        </div>
    </div>
</script>
</body>
<script type="text/javascript" src="../public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../public/js/vue.min.js"></script>
<script type="text/javascript" src="../public/jquery-weui/1.0/jquery-weui.min.js"></script>
<script type="text/javascript" src="../public/js/underscore.js"></script>
<script type="text/javascript" src="../js/android.js"></script>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/common/page-manager.js"></script>
<script type="text/javascript" src="../js/common/ue.js"></script>

<script type="text/javascript">
    Vue.config.devtools = true;
    jQuery(function($){
        window.pageManager = new PageManager({
            el: '#container',
            pageAppend: function($html, page){
                switch(page.name){
                    case 'home':
                        break;
                    case 'preview':
                        var address = $('input[name="address"]').val();
                        if(!address){
                            setTimeout(function(){
                                pageManager.back();
                            });
                        }
                        new Vue({
                            el: '.page.preview',
                            data: {
                                postcard: {
                                    postcode: $('input[name="postcode"]').val(),
                                    consignee: $('input[name="consignee"]').val(),
                                    comment: $('input[name="comment"]').val(),
                                    address: address
                                }
                            },
                            created: function(){
                            },
                            methods: {
                                cancel: function(){
                                    pageManager.back();
                                },
                                submit: function(){// 申请明信片
                                    android.alert('暂不支持');
                                }
                            }
                        });
                        return $('.page.preview');
                }
                return $html;
            }
        });
    });

</script>
</html>