<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>明信片</title>
    <link rel="stylesheet" href="../public/jquery-weui/1.0/weui.min.css">
    <link rel="stylesheet" href="../public/jquery-weui/1.0/jquery-weui.min.css">
    <link rel="stylesheet" href="../css/postcard.min.css">
</head>
<body>
<div class="main">
    <div class="t-nav">
        <a href="javascript:;" @click="funcBack" class="left"><i class="iconfont icon-left"></i></a>
        <div class="title">明信片</div>
        <div class="right" v-if="status==1" @click="addPostcard">{{ (status==1)?('完成'):('') }}</div>
    </div>

    <div class="postcard-items" v-if="status==0 && postcardItems.length>0">
        <div class="postcard-wrap" v-for="(item,i) in postcardItems" @click="editPostcard(item,i)">
            <div class="postcard">
                <div class="stamp">
                    <img src="../public/images/stamp.png" alt="">
                </div>
                <div class="postcodes">
                    <span v-for="(item2,i2) in item.postcodes.length">{{item.postcodes.charAt(i2)}}</span>
                </div>
                <div class="comment-wrap">
                    <div class="comment">
                        {{item.comment}}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="edit" v-if="status==1">
        <div class="weui-cells weui-cells_form trip-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">邮编</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入邮编号" v-model="postcard.postcodes">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">收件人</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入收件人" v-model="postcard.addressee">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">地址</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入地址" v-model="postcard.adders">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">留言</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入留言" v-model="postcard.comment">
                </div>
            </div>
        </div>
    </div>
    <div class="add-postcard" v-if="status==0">
        <i class="iconfont" @click="status=1">&#xe602;</i>
    </div>
</div>
</body>
<script type="text/javascript" src="../public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../public/js/vue.min.js"></script>
<script type="text/javascript" src="../public/jquery-weui/1.0/jquery-weui.min.js"></script>

<script>
    Vue.config.devtools = true;
    new Vue({
        el: '.main',
        data: {
            status: 0,// 状态【0:显示已有明信片列表，1：添加明信片】
            edit: {
                status: false,
                index: 0
            },
            postcard: {
                postcodes: '',
                addressee: '',
                comment: '',
                adders: ''
            },
            postcardItems: []
        },
        created: function () {

        },
        methods: {
            funcBack: function () {
                (this.status == 1) ? this.status = 0 : window.history.back();
            },
            addPostcard: function () {// 申请明信片
                var temp = this.postcard, edit = this.edit;
                temp.postcodes = temp.postcodes.toString();

                if (temp.comment && temp.addressee && temp.adders) {
                    if (temp.postcodes.length == 6) {
                        if (edit.status) {
                            edit.status = false;
                            this.postcardItems[edit.index] = temp;
                        } else {
                            this.postcardItems.push(temp);
                        }

                        var clearData = {};
                        $.each(temp, function (v, i) {
                            clearData[v] = '';
                        });
                        this.postcard = clearData;

                        this.status = 0;
                    } else
                        $.alert('邮编号码不正确哦');
                } else
                    $.alert('信息未填写完整哦');
            },
            editPostcard: function (item, i) {// 编辑现有明信片
                this.edit = {
                    status: true,
                    index: i
                };
                this.postcard = item;
                this.status = 1;
            }
        }
    });
</script>
</html>