<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>订单列表</title>
    <link rel="stylesheet" href="../public/css/weui.css">
    <style type="text/css">
        .container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        i.weui-icon-success.order-icon {
            font-size: 32px !important;
        }

        .weui-mask {
            visibility: visible !important;
            display: none;
        }

        div.weui-actionsheet__cell.pay, div.weui-actionsheet__cell.confirm, div.weui-actionsheet__cell.cancel {
            display: none;
        }

        .status-0 div.weui-actionsheet__cell.pay, .status-0 div.weui-actionsheet__cell.cancel {
            display: block;
        }

        .status-1000 div.weui-actionsheet__cell.cancel {

        }

        [v-cloak] {
        display: none;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="weui-tab">
        <div class="weui-tab__panel">
            <div class="weui-tab">
                <div id="nav-bar-div" class="weui-navbar">
                    <div class="weui-navbar__item weui-bar__item_on prepay" v-on:click="loadPrepayOrder">待支付</div>
                    <div class="weui-navbar__item paid" v-on:click="loadPaidOrder">待确认</div>
                    <div class="weui-navbar__item misc" v-on:click="loadMiscOrder">其他</div>
                </div>
                <div id="order-div" v-cloak class="weui-tab__panel">
                    <div class="weui-cells" v-for="(item,i) in items" :id="'product-div-' + item['id']">
                        <div class="weui-cell weui-cell_access" v-on:click="orderAction(item)">
                            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                <i :class="'order-icon ' + item['status_icon_class']"></i>
                                <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>-->
                            </div>
                            <div class="weui-cell__bd">
                                <p><span class="show-name">{{ item['sn'] }}</span></p>

                                <p style="font-size: 13px;color: #888888;">
                                    金额：<span class="show-price">{{item['order_amount']}}</span>元，状态：<span
                                        class="show-status">{{item['status_name']}}</span></p>
                            </div>
                            <div class="weui-cell__ft">
                                操作
                            </div>
                        </div>
                        <div :class="'order-action-select status-' + item['order_status']">
                            <div class="weui-mask" style="opacity: 1;z-index: 500"></div>
                            <div class="weui-actionsheet" style="z-index: 999">
                                <div class="weui-actionsheet__title">
                                    <p class="weui-actionsheet__title-text">{{ item['sn'] }}({{ item['status_name']
                                        }})</p>
                                </div>
                                <div class="weui-actionsheet__menu">
                                    <div class="weui-actionsheet__cell pay" v-on:click="pay(item)">支付</div>
                                    <div class="weui-actionsheet__cell confirm">确认订单</div>
                                    <div class="weui-actionsheet__cell cancel">取消订单</div>
                                    <div class="weui-actionsheet__cell detail">详情(暂不支持)</div>
                                </div>
                                <div class="weui-actionsheet__action">
                                    <div class="weui-actionsheet__cell" id="iosActionsheetCancel"
                                         v-on:click="closeSelect">取消
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script type="text/javascript" src="../public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../public/js/vue.min.js"></script>
<script type="text/javascript" src="../public/jquery-weui/1.0/jquery-weui.min.js"></script>

<script type="text/javascript" src="../js/android.js"></script>
<script type="text/javascript" src="../public/js/md5.js"></script>
<script type="text/javascript" src="../public/js/underscore.js"></script>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/common/ue.js"></script>

<script type="text/javascript">
    var page_size = 10;
    var group_id = U.ajax.getUrlParam("uid");
    var sort = U.ajax.getUrlParam('sort') || 'asc';
    var status = U.ajax.getUrlParam('status') || '0';

    jQuery(function($){
        new Vue({
            el: '#nav-bar-div',
            methods: {
                loadPrepayOrder: function(){
                    android.redirect('shop_order_manage.html?status=0', '加载中...');
                },
                loadPaidOrder: function(){
                    android.redirect('shop_order_manage.html?status=1000', '加载中...');
                },
                loadMiscOrder: function(){
                    android.redirect('shop_order_manage.html?status=+1000', '加载中...');
                }
            }
        });
        $('.weui-navbar__item').removeClass('weui-bar__item_on');
        switch(status){
            case '0':
                $('.weui-navbar__item.prepay').addClass('weui-bar__item_on');
                break;
            case '1000':
                $('.weui-navbar__item.paid').addClass('weui-bar__item_on');
                break;
            default:
                $('.weui-navbar__item.misc').addClass('weui-bar__item_on');
                break;
        }
        var statuses = {
            "0": {
                "status_icon_class": "weui-icon-waiting",
                "status_name": "等待支付"
            },
            "1000": {
                "status_icon_class": "weui-icon-waiting",
                "status_name": "等待确认"
            },
            "3000": {
                "status_icon_class": "weui-icon-waiting",
                "status_name": "等待消费"
            },
            "10000": {
                "status_icon_class": "weui-icon-success",
                "status_name": "订单完成"
            },
            "10001": {
                "status_icon_class": "weui-icon-cancel",
                "status_name": "订单取消"
            }
        };

        function query(data, callback){
            var user = android.current_user();
            var cond = {
                page: data['page'] || 1,
                seller_id: user['id']
            };
            if(data['status']){
                cond['status'] = data['status'];
            }

            U.api.shop.order.list(cond, function(err, json){
                if(err){
                    android.alert(err.message);
                    json = {
                        'rows': [],
                        'total': 0
                    }
                }

                callback(json);
            });
        }

        query({
            'status': status
        }, function(data){
            var orders = [];
            _.each(data['rows'], function(v, k){
                v['status_icon_class'] = statuses[v['order_status'] + '']['status_icon_class'] || 'weui-icon-waiting';
                v['status_name'] = statuses[v['order_status'] + '']['status_name'] || '未知';
                orders.push(v);
            });
            new Vue({
                el: '#order-div',
                data: {
                    items: orders
                },
                methods: {
                    orderAction: function(item){
                        var self = this;
                        var $actionList = $('#order-div').find('.order-action-select');
                        $actionList.find('.weui-actionsheet').addClass('weui-actionsheet_toggle');
                        $actionList.find('.weui-mask').fadeIn(200).click(function(){
                            self.closeSelect();
                        });
                    },
                    closeSelect: function(){
                        var $actionList = $('#order-div').find('.order-action-select');
                        $actionList.find('.weui-actionsheet').removeClass('weui-actionsheet_toggle');
                        $actionList.find('.weui-mask').fadeOut(200)
                    },
                    pay: function(item){
                        android.redirect(REST_BASE + '/open/api?method=order.pay&action=redirect&order_sn=' + item['sn'], '跳转至支付')
                    }
                }
            })
        });
    });
</script>
</html>