<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>产品列表</title>
    <link rel="stylesheet" href="../public/jquery-weui/1.0/weui.min.css">
    <link rel="stylesheet" href="../public/jquery-weui/1.0/jquery-weui.min.css">
    <link rel="stylesheet" href="../public/css/swiper-3.3.1.min.css">
    <style type="text/css">
        .container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #order-div {
            display: none;
        }

        .weui-mask{
            visibility: visible!important;
            display: none;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="weui-tab">
        <div id="product-div" class="weui-tab__panel">
            <div class="weui-tab">
                <div class="weui-navbar">
                    <div class="weui-navbar__item">
                        产品列表
                    </div>
                </div>
                <div class="weui-tab__panel">
                    <div class="weui-cells">
                        <div class="weui-cell weui-cell_access" v-for="(item,i) in items" v-on:click="productAction(item)">
                            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                <img :src="U.api.oss.rid2url(item['images'] || 'http://', 'style/resize_128x128')"
                                     style="width: 50px;display: block">
                                <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>-->
                            </div>
                            <div class="weui-cell__bd">
                                <p>{{ item['name'] }}</p>

                                <p style="font-size: 13px;color: #888888;">
                                    库存：{{item['stock']}}，价格：{{item['price']}}元，状态：{{item['online'] > 0 ? '上架' :
                                    '下架'}}</p>
                            </div>
                            <div class="weui-cell__ft">
                                详细信息
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product-action-select-div">
                    <div class="weui-mask" style="opacity: 1;"></div>
                    <div class="weui-actionsheet">
                        <div class="weui-actionsheet__title">
                            <p class="weui-actionsheet__title-text">操作列表。</p>
                        </div>
                        <div class="weui-actionsheet__menu">
                            <div class="weui-actionsheet__cell">上架</div>
                            <div class="weui-actionsheet__cell">下架</div>
                            <div class="weui-actionsheet__cell">修改</div>
                            <div class="weui-actionsheet__cell">查看</div>
                        </div>
                        <div class="weui-actionsheet__action">
                            <div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="order-div" class="weui-tab__panel">
            <div class="weui-cells">
                <div class="weui-cell weui-cell_access">
                    <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                        <img src="images/pic_160.png" style="width: 50px;display: block">
                        <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>-->
                    </div>
                    <div class="weui-cell__bd">
                        <p>订单号</p>

                        <p style="font-size: 13px;color: #888888;">订单描述</p>
                    </div>
                    <div class="weui-cell__ft">
                        详细信息
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-tabbar">
            <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                        <span style="display: inline-block;position: relative;">
                            <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                            <!--<span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">0</span>-->
                        </span>

                <p class="weui-tabbar__label">产品</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
                        <span style="display: inline-block;position: relative;">
                            <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                            <!--<span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>-->
                        </span>

                <p class="weui-tabbar__label">订单</p>
            </a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../public/js/vue.min.js"></script>
<script type="text/javascript" src="../public/jquery-weui/1.0/jquery-weui.min.js"></script>

<script type="text/javascript" src="../js/android.js"></script>
<script type="text/javascript" src="../public/js/md5.js"></script>
<script type="text/javascript" src="../public/js/underscore.js"></script>
<script type="text/javascript" src="../js/api.js"></script>
<script type="text/javascript" src="../js/common/ue.js"></script>

<script type="text/javascript">
    var page_size = 10;
    var group_id = U.ajax.getUrlParam("uid");
    var sort = U.ajax.getUrlParam('sort') || 'asc';

    jQuery(function($){
        function loadProductPage(){
            var user = android.current_user();
            U.api.shop.product.search({page: 1, seller_id: user['id']}, function(err, json){
                new Vue({
                    el: '#product-div',
                    data: {
                        items: json['rows']
                    },
                    methods:{
                        productAction: function(item){
                            var $menu = $('#product-action-select-div');
                            $menu.find('.weui-actionsheet__title-text').text(item.name);
                            $menu.find('.weui-actionsheet').addClass('weui-actionsheet_toggle');
                            $menu.find('.weui-mask').click(function(){
                                $(this).fadeOut(200);
                                $menu.find('.weui-actionsheet').removeClass('weui-actionsheet_toggle');
                            }).fadeIn(200);
                        }
                    }
                })
            });
        }

        loadProductPage();

        // ui setup
        $(function(){
            $('.weui-tabbar__item').on('click', function(){
                $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
            });
        });
    });
</script>
</html>