@import "variable";
@import "base";
@import "icon";
@import "t-nav";
@import "leftMenu";
@import "page-manager";

.t-nav .right {
    font-size: 14px;
}

.trip-cells_form {
    background-color: @bgColor;
    font-size: 14px;
    .weui-cells {
    }
    .weui-cell__hd, .weui-cell__bd {
        color: @baseColor;
    }
}