@import "variable";
@import "base";
@import "icon";
@import "t-nav";
@import "leftMenu";

.trip-cells_form {
    background-color: @color2;
    font-size: 14px;
    .weui-cells {
    }
    .weui-cell__hd, .weui-cell__bd {
        color: @baseColor;
    }
}

.weui-loadmore__tips {
    background-color: @color2 !important;
}

.barn {
    img {
        width: 100%;
    }
    .swiper-slide {
        padding-bottom: 35px;
        min-height: 100px;
        a {
            background: #ded3b3;
        }
    }
    .swiper-pagination-bullet {
        background: #f2edda;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #ded3b3;
    }
}

.book {
    position: absolute;
    width: 80px;
    height: 30px;
    right: 15px;
    text-align: center;
    bottom: 15px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: @baseColor;
}