@baseColor: #49bdca;
@color2: #faf8ec;

//html,body
@maxWidth: 640px;
// t-new
@navHeight: 50px;
@navLeftRightWidth: 50px;

//布局
.displayFlex() {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.alignItems(@type:center) {
    -webkit-box-align: @type;
    -webkit-align-items: @type;
    align-items: @type;
}

.flex1() {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.before {
    position: relative;
    &:before {
        position: absolute;
        display: block;
        content: "";
    }
}

.after {
    position: relative;
    &:after {
        position: absolute;
        display: block;
        content: "";
    }
}

.fl {
    float: left;
}

.fr {
    float: left;
}

.clear {
    clear: both
}

//字号
.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}