<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>任务清单</title>
    <!--<link rel="stylesheet" href="../../pubic/css/font_h5xvumt53vwsif6r.css">-->
    <link rel="stylesheet" href="../../public/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="../../public/css/weui.css">
    <style type="text/css">
        div.sample {
            display: none;
        }
    </style>
</head>
<body>

<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item undo weui-bar__item_on">
            待处理
        </div>
        <div class="weui-navbar__item doing">
            正处理
        </div>
        <div class="weui-navbar__item done">
            已完成
        </div>
        <!--<div class="weui-navbar__item all">-->
        <!--全部-->
        <!--</div>-->
    </div>
    <div class="weui-tab__panel">

    </div>
</div>
<div class="sample">
    <div class="weui-cells__title">我的</div>
    <div class="weui-cells weui-cells_checkbox">
        <div class="day" v-for="(item, index) in mine">
            <label class="weui-cell weui-check__label" v-bind:for="'ticket_' + item.id">
                <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check" v-bind:name="'ticket_' + item.id "
                           v-bind:id="'ticket_' + item.id" v-bind:checked="item.status == 'closed'"
                           v-on:click="select(item, $event)" v-bind:disabled="item.status == 'closed'">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>[{{ item.type }}] #{{ item.id }} <strong>{{ item.summary }}</strong> @{{
                        item.time.toString('yy/MM/dd') }}</p>
                </div>
            </label>
        </div>
    </div>
    <div v-for="(list, group) in groups">
        <div class="weui-cells__title">{{ group }}</div>
        <div class="weui-cells weui-cells_checkbox">
            <div class="day" v-for="(item, index) in groups[group]">
                <label class="weui-cell weui-check__label" v-bind:for="'ticket_' + item.id">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" v-bind:name="'ticket_' + item.id "
                               v-bind:id="'ticket_' + item.id" v-bind:checked="item.status == 'closed'"
                               v-on:click="select(item, $event)" v-bind:disabled="item.status == 'closed'">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>[{{ item.type }}] #{{ item.id }} <strong>{{ item.summary }}</strong> @{{
                            item.time.toString('yy/MM/dd') }}</p>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <!--<div class="weui-cells__title">{{ title }}</div>-->
    <!--<div class="weui-cells weui-cells_checkbox">-->
    <!--<div class="day" v-for="(item, index) in items">-->
    <!--<label class="weui-cell weui-check__label" v-bind:for="'ticket_' + item.id">-->
    <!--<div class="weui-cell__hd">-->
    <!--<input type="checkbox" class="weui-check" v-bind:name="'ticket_' + item.id "-->
    <!--v-bind:id="'ticket_' + item.id" v-bind:checked="item.status == 'closed'">-->
    <!--<i class="weui-icon-checked"></i>-->
    <!--</div>-->
    <!--<div class="weui-cell__bd">-->
    <!--<p>{{ item.summary }}(by {{ item.owner }})</p>-->
    <!--</div>-->
    <!--</label>-->
    <!--</div>-->
    <!--&lt;!&ndash;<a href="javascript:void(0);" class="weui-cell weui-cell_link">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="weui-cell__bd">添加更多</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--</div>-->
</div>

</body>
<script type="text/javascript" src="../../public/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../../public/js/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="../../public/js/vue.min.js"></script>
<script type="text/javascript" src="../../public/js/md5.js"></script>
<script type="text/javascript" src="../../public/js/underscore.js"></script>
<script type="text/javascript" src="../../public/js/exif.js"></script>
<script type="text/javascript" src="../../public/js/coordtransform.js"></script>
<script type="text/javascript" src="../../public/js/weui.min.js"></script>

<script type="text/javascript" src="../../js/android.js"></script>
<script type="text/javascript" src="../../js/api.js"></script>
<script type="text/javascript" src="../../js/common/date.js"></script>
<script type="text/javascript" src="../../js/common/ue.js"></script>

<script type="text/javascript">
jQuery(function($){

    function done(ticket, callback){
        weui.picker([
            {
                label: '重复',
                value: 'duplicate'
            },
            {
                label: '无效',
                value: 'invalid'
            },
            {
                label: '完成',
                value: 'fixed'
            },
            {
                label: '帮我做吧',
                disabled: true,
                value: 'worksforme'
            },
            {
                label: '不处理',
                value: 'wontfix'
            }
        ], {
            onChange: function(result){
                console.log(result);
            },
            onConfirm: function(result){
                U.api.trac.modify({
                    'id': ticket['id'],
                    'status': 'closed',
                    'resolution': result && result[0]
                }, function(err, json){
                    if(err){
                        android.alert(err['message']);
                        return;
                    }
                    if(json && json['status'] == 'ok'){
                        callback && callback(ticket);
                    }
                });
            },
            onCancel: function(){
                alert('hello');
            }
        });

    }

    function accept(ticket, callback){
        U.api.trac.modify({
            'id': ticket['id'],
            'status': 'accepted'
        }, function(err, json){
            if(err){
                android.alert(err['message']);
                return;
            }
            if(json && json['status'] == 'ok'){
                var $checkbox = $('#ticket_' + ticket['id']);
                $checkbox.attr('disabled', 'disabled');
                $checkbox[0].checked = true;
                callback && callback(ticket);
            }
        });
    }

    function reassign(ticket, callback){
        U.api.trac.modify({
            'id': ticket['id'],
            'status': 'reassign',
            'owner': ticket['owner']
        }, function(err, json){
            if(err){
                android.alert(err['message']);
                return;
            }
            if(json && json['status'] == 'ok'){
                var $checkbox = $('#ticket_' + ticket['id']);
                $checkbox.attr('disabled', 'disabled');
                $checkbox[0].checked = true;
                callback && callback(ticket);
            }
        });
    }

    function loadData(title, list){
        if(list){
            android.put('trac.ticket.' + title, list);
        }else{
            list = android.get('trac.ticket.' + title);
            if(!list){
                return;
            }
        }

        var id = 'panel-' + (new Date()).getTime();
        var $elem = $('div.sample').clone().removeClass('sample');
        $elem.attr('id', id);
        var groups = {};
        var mine = [];
        _.each(list, function(v){
            v['time'] = new Date(v['time'] / 1000);
            v['changetime'] = new Date(v['changetime'] / 1000);
            if(v['isMine']){
                mine.push(v);
            }else{
                groups[v['owner']] = groups[v['owner']] || [];
                groups[v['owner']].push(v);
            }
        });

        $('div.weui-tab__panel').empty().append($elem);
        var vm = new Vue({
            el: '#' + id,
            data: {
                title: title,
                items: list,
                groups: groups,
                mine: mine
            },
            methods: {
                select: function(ticket, event){
                    switch(ticket['status']){
                        case 'new':
                        case 'reassign':
                            accept(ticket, function(ticket){
                                var $checkbox = $('#ticket_' + ticket['id']);
                                $checkbox.attr('disabled', 'disabled');
                                $checkbox[0].checked = true;
                            });
                            break;
                        case 'accepted':
                            done(ticket, function(ticket){
                                var $checkbox = $('#ticket_' + ticket['id']);
                                $checkbox.attr('disabled', 'disabled');
                                $checkbox[0].checked = true;
                            });
                            break;
                        case 'closed':
                            break;
                        default:
                    }
                    event.stopPropagation();
                    event.preventDefault();
                }
            }
        });
    }

    function loadByType(status){
        var title = status;
        $('.weui-navbar__item').removeClass('weui-bar__item_on');
        $('.weui-navbar__item.' + status).addClass('weui-bar__item_on');
        location.hash = '#' + status;
        loadData(title);
        var cond = {
            size: 100
        };
        switch(status){
            case 'doing':
                cond['status'] = 'accepted';
                break;
            case 'done':
                cond['status'] = 'closed';
                cond['resolution'] = 'fixed';
                break;
            case 'undo':
            default:
                cond['status'] = '-closed,accepted';
        }
        U.api.trac.list(cond, function(err, json){
            var user = json['user'];
            var list = json['data'];
            if(user){
                _.each(list, function(v, k){
                    v['isMine'] = v['owner'] == user['name'];
                    list[k] = v;
                })
            }
            if($('.weui-navbar__item.' + status).hasClass('weui-bar__item_on')){
                loadData(title, list);
            }
        });
    }

    $('.weui-navbar__item.undo').click(function(){
        loadByType('undo');
    });

    $('.weui-navbar__item.doing').click(function(){
        loadByType('doing');
    });

    $('.weui-navbar__item.done').click(function(){
        loadByType('done');
    });

    loadByType(location.hash ? location.hash.slice(1) : 'undo');
})
</script>

</html>
