<div class="leftMenu">
    <div class="t-mask-visible"></div>
    <div class="menu">
        <a href="member.html" class="portrarit">
            <img class="avatar" src="../images/1.jpg?oss_image_style=120w_120h_4e_73-189-202bgc" alt="">
            <p class="name">Triplint</p>
        </a>
        <div class="menu-list">
            <a href="index.html" class="on">热门游记</a>
            <a href="javascript:;">草稿箱</a>
            <a href="setting.html">设置</a>
            <a href="feedback.html">反馈</a>
        </div>
        <div class="cp">
            Triplint
        </div>
    </div>
</div>