.before {
  position: relative;
}
.before:before {
  position: absolute;
  display: block;
  content: "";
}
.after {
  position: relative;
}
.after:after {
  position: absolute;
  display: block;
  content: "";
}
.fl {
  float: left;
}
.fr {
  float: left;
}
.clear {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: blink;
  outline: none;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  max-width: 640px;
  background: #faf8ec;
  margin: 0 auto;
}
.hide {
  display: none;
}
.traveller-on {
  display: none !important;
}
