* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: blink;
  outline: none;
}
html,
body {
  width: 100%;
  max-width: 640px;
  background: #faf8ec;
  margin: 0 auto;
}
.hide {
  display: none;
}
@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_910v1plfu3ex9a4i.eot?t=1480672633584');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_910v1plfu3ex9a4i.eot?t=1480672633584#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_910v1plfu3ex9a4i.woff?t=1480672633584') format('woff'), /* chrome, firefox */ url('//at.alicdn.com/t/font_910v1plfu3ex9a4i.ttf?t=1480672633584') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_910v1plfu3ex9a4i.svg?t=1480672633584#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-left:before {
  content: "\345a";
}
.icon-home:before {
  content: "\e604";
}
.icon-plus:before {
  content: "\e602";
}
.icon-edit:before {
  content: "\e614";
}
.icon-delete:before {
  content: "\e628";
}
.icon-clear:before {
  content: "\e6df";
}
.icon-map:before {
  content: "\e61a";
}
.icon-postcard:before {
  content: "\e706";
}
.icon-shijian:before {
  content: "\e606";
}
.icon-more:before {
  content: "\e603";
}
.icon-cover:before {
  content: "\e636";
}
.icon-msg:before {
  content: "\e676";
}
.icon-sousuo:before {
  content: "\e600";
}
.icon-menu:before {
  content: "\e601";
}
.icon-camera:before {
  content: "\e68e";
}
.icon-replace:before {
  content: "\e7b9";
}
.icon-sponsor:before {
  content: "\e6af";
}
.icon-aixin2:before {
  content: "\e605";
}
.t-nav {
  display: -webkit-box;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 640px;
  height: 50px;
  background: #49bdca;
  z-index: 10;
}
.t-nav .left,
.t-nav .right {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
}
.t-nav .left {
  position: absolute;
  top: 0;
  left: 0;
}
.t-nav .right {
  position: absolute;
  top: 0;
  right: 0;
}
.t-nav .title {
  display: block;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  background: #49bdca;
}
.t-nav {
  background: rgba(73, 189, 202, 0.7);
}
.t-nav .right {
  width: 90px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
.main {
  margin: 100px 35px 100px;
}
.main .t-input {
  height: 30px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin: 15px auto;
  display: block;
  background: #49bdca;
  font-size: 16px;
  padding: 5px 0;
  text-indent: 10px;
}
.main .t-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.main .t-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.main .t-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.main .t-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.main .t-btn {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 20px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 80px;
}
.main .login-box {
  display: block !important;
}
.main .reg-box {
  display: none !important;
}
.main-reg .login-box {
  display: none !important;
}
.main-reg .reg-box {
  display: block !important;
}
.tool-btns {
  position: fixed;
  width: 100%;
  max-width: 640px;
  height: 49px;
  line-height: 49px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  bottom: 0;
  border-top: 1px solid #fff;
  background: rgba(73, 189, 202, 0.7);
}
