.before {
  position: relative;
}
.before:before {
  position: absolute;
  display: block;
  content: "";
}
.after {
  position: relative;
}
.after:after {
  position: absolute;
  display: block;
  content: "";
}
.fl {
  float: left;
}
.fr {
  float: left;
}
.clear {
  clear: both;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: blink;
  outline: none;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  max-width: 640px;
  background: #faf8ec;
  margin: 0 auto;
}
.hide {
  display: none;
}
.main {
  padding-top: 50px;
}
.traveller-on {
  display: none !important;
}
@font-face {
  font-family: 'iconfont';
  /* project id 158059 */
  src: url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.eot');
  src: url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.woff') format('woff'), url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.ttf') format('truetype'), url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-left:before {
  content: "\345a";
}
.icon-home:before {
  content: "\e604";
}
.icon-plus:before {
  content: "\e602";
}
.icon-edit:before {
  content: "\e614";
}
.icon-delete:before {
  content: "\e628";
}
.icon-clear:before {
  content: "\e6df";
}
.icon-map:before {
  content: "\e61a";
}
.icon-postcard:before {
  content: "\e706";
}
.icon-shijian:before {
  content: "\e606";
}
.icon-more:before {
  content: "\e603";
}
.icon-cover:before {
  content: "\e636";
}
.icon-msg:before {
  content: "\e676";
}
.icon-sousuo:before {
  content: "\e600";
}
.icon-menu:before {
  content: "\e601";
}
.icon-camera:before {
  content: "\e68e";
}
.icon-replace:before {
  content: "\e7b9";
}
.icon-sponsor:before {
  content: "\e6af";
}
.icon-aixin2:before {
  content: "\e605";
}
.icon-star:before {
  content: "\e607";
}
.icon-af-follow:before {
  content: "\e611";
}
.icon-users:before {
  content: "\e609";
}
.icon-photo:before {
  content: "\e608";
}
.t-nav {
  display: -webkit-box;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 640px;
  height: 50px;
  background: #49bdca;
  z-index: 10;
}
.t-nav .left,
.t-nav .right {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
}
.t-nav .left {
  position: absolute;
  top: 0;
  left: 0;
}
.t-nav .right {
  position: absolute;
  top: 0;
  right: 0;
}
.t-nav .title {
  display: block;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  padding: 0 60px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  background: #49bdca;
}
.t-nav {
  background: rgba(73, 189, 202, 0.7);
}
.t-nav .right {
  width: 90px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
.main {
  margin: 100px 35px 100px;
}
.main .t-input {
  height: 30px;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin: 15px auto;
  display: block;
  background: #49bdca;
  font-size: 16px;
  padding: 5px 0;
  text-indent: 10px;
}
.main .t-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.main .t-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.main .t-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.main .t-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.main .t-btn {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 20px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 80px;
}
.main .login-box {
  display: block !important;
}
.main .reg-box {
  display: none !important;
}
.main-reg .login-box {
  display: none !important;
}
.main-reg .reg-box {
  display: block !important;
}
.tool-btns {
  position: fixed;
  width: 100%;
  max-width: 640px;
  height: 49px;
  line-height: 49px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  bottom: 0;
  border-top: 1px solid #fff;
  background: rgba(73, 189, 202, 0.7);
}
