.before {
  position: relative;
}
.before:before {
  position: absolute;
  display: block;
  content: "";
}
.after {
  position: relative;
}
.after:after {
  position: absolute;
  display: block;
  content: "";
}
.fl {
  float: left;
}
.fr {
  float: left;
}
.clear {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: blink;
  outline: none;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  max-width: 640px;
  background: #faf8ec;
  margin: 0 auto;
}
.hide {
  display: none;
}
.traveller-on {
  display: none !important;
}
@font-face {
  font-family: 'iconfont';
  /* project id 158059 */
  src: url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.eot');
  src: url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.woff') format('woff'), url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.ttf') format('truetype'), url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-left:before {
  content: "\345a";
}
.icon-home:before {
  content: "\e604";
}
.icon-plus:before {
  content: "\e602";
}
.icon-edit:before {
  content: "\e614";
}
.icon-delete:before {
  content: "\e628";
}
.icon-clear:before {
  content: "\e6df";
}
.icon-map:before {
  content: "\e61a";
}
.icon-postcard:before {
  content: "\e706";
}
.icon-shijian:before {
  content: "\e606";
}
.icon-more:before {
  content: "\e603";
}
.icon-cover:before {
  content: "\e636";
}
.icon-msg:before {
  content: "\e676";
}
.icon-sousuo:before {
  content: "\e600";
}
.icon-menu:before {
  content: "\e601";
}
.icon-camera:before {
  content: "\e68e";
}
.icon-replace:before {
  content: "\e7b9";
}
.icon-sponsor:before {
  content: "\e6af";
}
.icon-aixin2:before {
  content: "\e605";
}
.icon-star:before {
  content: "\e607";
}
.icon-af-follow:before {
  content: "\e611";
}
.icon-users:before {
  content: "\e609";
}
.icon-photo:before {
  content: "\e608";
}
.t-nav {
  display: -webkit-box;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 640px;
  height: 50px;
  background: #49bdca;
  z-index: 10;
}
.t-nav .left,
.t-nav .right {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
}
.t-nav .left {
  position: absolute;
  top: 0;
  left: 0;
}
.t-nav .right {
  position: absolute;
  top: 0;
  right: 0;
}
.t-nav .title {
  display: block;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  padding: 0 60px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
}
[v-cloak] {
  display: none;
}
.t-nav .left {
  text-decoration: blink;
}
.t-nav .right {
  font-size: 14px;
}
.member {
  overflow: hidden;
  height: 270px;
  text-align: center;
  background-image: url("../public/images/member.jpg");
  background-size: cover;
  /*
        .member-bg {
            display: block;
            width: 100%;
            margin-top: -70px;
        }*/
}
.member .box {
  width: 100%;
  margin-top: 68px;
}
.member .box .info {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
}
.member .box .info .number {
  font-size: 20px;
  margin-bottom: 4px;
}
.member .box .info .desc {
  font-size: 12px;
}
.member .box .info .user {
  margin: 0 30px;
}
.member .box .info .user img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #fff;
}
.member .box .info .level {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
  font-size: 13px;
  padding: 4px 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 13px 0 0 13px;
}
.member .box .name {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.member .box .msg {
  width: 110px;
  padding: 10px 0;
  text-align: center;
  border-radius: 27px;
  margin: 25px auto 0 auto;
  background: #fff;
}
.trip .null {
  margin-top: 50px;
  color: #ded3b3;
  text-align: center;
  font-size: 13px;
}
.trip .list {
  margin: 20px 10px 100px;
}
.trip .list .wrap {
  position: relative;
}
.trip .list .wrap .icon-delete {
  position: absolute;
  color: #fff;
  right: 15px;
  bottom: 10px;
  text-shadow: 1px 1px 1px #000;
}
.trip .list img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.trip .list .info {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.trip .list .info .title {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
}
.trip .list .info .time-didian {
  position: absolute;
  padding-left: 10px;
  line-height: 12px;
  top: 40px;
  left: 15px;
  color: #fff;
}
.trip .list .info .time-didian p,
.trip .list .info .time-didian i {
  font-size: 12px;
  text-shadow: 1px 1px 2px #000;
}
.trip .list .info .time-didian::before {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 4px;
  background: #49bdca;
}
.trip .list .info .user {
  position: absolute;
  display: inline-flex;
  left: 15px;
  bottom: 15px;
}
.trip .list .info .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.trip .list .info .user p {
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  text-indent: 15px;
  text-shadow: 1px 1px 2px #000;
}
.router-link-active {
  color: red;
}
