.before {
  position: relative;
}
.before:before {
  position: absolute;
  display: block;
  content: "";
}
.after {
  position: relative;
}
.after:after {
  position: absolute;
  display: block;
  content: "";
}
.fl {
  float: left;
}
.fr {
  float: left;
}
.clear {
  clear: both;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: blink;
  outline: none;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  max-width: 640px;
  background: #faf8ec;
  margin: 0 auto;
}
.hide {
  display: none;
}
.main {
  padding-top: 50px;
}
.traveller-on {
  display: none !important;
}
@font-face {
  font-family: 'iconfont';
  /* project id 158059 */
  src: url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.eot');
  src: url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.woff') format('woff'), url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.ttf') format('truetype'), url('http://at.alicdn.com/t/font_rn8htr0tce3cv7vi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-left:before {
  content: "\345a";
}
.icon-home:before {
  content: "\e604";
}
.icon-plus:before {
  content: "\e602";
}
.icon-edit:before {
  content: "\e614";
}
.icon-delete:before {
  content: "\e628";
}
.icon-clear:before {
  content: "\e6df";
}
.icon-map:before {
  content: "\e61a";
}
.icon-postcard:before {
  content: "\e706";
}
.icon-shijian:before {
  content: "\e606";
}
.icon-more:before {
  content: "\e603";
}
.icon-cover:before {
  content: "\e636";
}
.icon-msg:before {
  content: "\e676";
}
.icon-sousuo:before {
  content: "\e600";
}
.icon-menu:before {
  content: "\e601";
}
.icon-camera:before {
  content: "\e68e";
}
.icon-replace:before {
  content: "\e7b9";
}
.icon-sponsor:before {
  content: "\e6af";
}
.icon-aixin2:before {
  content: "\e605";
}
.icon-star:before {
  content: "\e607";
}
.icon-af-follow:before {
  content: "\e611";
}
.icon-users:before {
  content: "\e609";
}
.icon-photo:before {
  content: "\e608";
}
.t-nav {
  display: -webkit-box;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 640px;
  height: 50px;
  background: #49bdca;
  z-index: 10;
}
.t-nav .left,
.t-nav .right {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
}
.t-nav .left {
  position: absolute;
  top: 0;
  left: 0;
}
.t-nav .right {
  position: absolute;
  top: 0;
  right: 0;
}
.t-nav .title {
  display: block;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  padding: 0 60px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: #fff;
}
.leftMenu.on .t-mask-visible {
  display: block;
  opacity: .5;
}
.leftMenu.on .menu {
  transform: translate3d(0, 0, 0);
}
.leftMenu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  z-index: 11;
}
.leftMenu .t-mask-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000;
  transition: opacity .5s;
}
.leftMenu .menu {
  transform: translate3d(-100%, 0px, 0px);
  transition-duration: .3s;
  position: absolute;
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
  background: #49bdca;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}
.leftMenu .menu .portrarit {
  display: block;
  margin: 30% auto 100px;
  width: 55px;
  height: 55px;
  border: 2px solid #54dbea;
  border-radius: 50%;
  background: #fff;
}
.leftMenu .menu .portrarit img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
.leftMenu .menu .portrarit .name {
  color: #fff;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
}
.leftMenu .menu .menu-list a {
  display: block;
  margin: 50px;
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
.leftMenu .menu .menu-list a.on {
  color: #fff;
}
.leftMenu .menu .cp {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
html,
body {
  background: #efeee8;
}
.barn .swiper-pagination-bullet {
  background: #ded3b3 !important;
}
.barn .swiper-pagination-bullet-active {
  background: #49bdca !important;
}
.trip-cells_form {
  background-color: #faf8ec;
  font-size: 14px;
}
.trip-cells_form.weui-panel:before {
  display: none;
}
.trip-cells_form .pub-date .weui-vcode-btn {
  color: #49bdca;
  padding: 0 1.5em;
}
.trip-cells_form .pub-date input {
  text-align: center;
}
.trip-cells_form .weui-cell__hd,
.trip-cells_form .weui-cell__bd {
  color: #49bdca;
}
.trip-cells_form .money {
  margin-right: 1em;
}
.trip-cells_form .weui-media-box__desc .service {
  padding: 0 2px;
  border: 1px solid #ded3b3;
  display: inline-block;
  margin: 2px;
  border-radius: 4px;
  text-align: center;
}
.weui-loadmore__tips {
  background-color: #efeee8 !important;
}
.barn img {
  width: 100%;
}
.barn .swiper-slide {
  padding-bottom: 35px;
  min-height: 100px;
}
.barn .swiper-slide a {
  background: #ded3b3;
}
.barn .swiper-pagination-bullet {
  background: #f2edda;
  opacity: 1;
}
.barn .swiper-pagination-bullet-active {
  background: #ded3b3;
}
.book {
  position: absolute;
  width: 80px;
  height: 30px;
  right: 15px;
  text-align: center;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #49bdca;
}
.book.no {
  background: #ccc;
}
.weui-btn_primary {
  background-color: #49bdca;
}
.status0 .hotel-overview {
  background: #faf8ec;
}
.status2 .weui-cell__ft {
  width: 100px;
  text-align: left;
}
.fold {
  margin-top: 10px;
  background: #faf8ec;
}
